<div class= "stream-list-title">
    {{title}}
</div>

<button (click)="changeTitle()">Change Title</button>

<div class="stream-list-contents">
    
    <ul>
        <li *ngFor="let stream of streams">
            {{ stream.UUID }}
        </li>
    </ul>

    <ul>
        <li *ngFor="let fakeStream of fakeStreams">
            <span class="badge">{{ fakeStream.id }}</span>
            {{ fakeStream.name }}
        </li>
    </ul>
    
    <p *ngIf="fakeStreams.length > 1">ok</p>
    <p *ngIf="fakeStreams.length > 2">woooh</p>
    <p *ngIf="fakeStreams.length > 3">ayyy</p>
</div>
