.stream-list-title{
    background-color: #e58195;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 4px;
}

.stream-list-components{
    background-color: #da81e5;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 4px;
}