.left-side{
    float:left;
    width:calc(25% - 4px);
    height: 100%;
}

.right-side{
    width:calc(75% - 4px);
    height: 100%;
    float:right;
}

.vertical-separator{
    display: block;
    height: 100%;
    float: left;
    width: 8px;
    background-color: #eee;
}

.horizontal-separator{
    display: block;
    height: 8px;
    background-color: #eee;
}

.stream-list{
    height:100%;
    width: 100%;
    background-color: #94C6E3;
    float: left;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.dashboard{
    height:100%;
    width: 100%;
    background-color: #ffffff;
    float: right;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.dag-view{
    height: calc(75% - 4px);
    background-color: #ffffff;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(77,77,77,1);
    -moz-box-shadow: 0px 0px 3px 0px rgba(77,77,77,1);
    box-shadow: 0px 0px 3px 0px rgba(77,77,77,1);
}

.cpt-view{
    height: calc(25% - 4px);
    background-color: #ffffff;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
        -webkit-box-shadow: 0px 3px 0px 0px rgba(77,77,77,1);
    -moz-box-shadow: 0px 0px 3px 0px rgba(77,77,77,1);
    box-shadow: 0px 0px 3px 0px rgba(77,77,77,1);
}