<div class="left-side">
    <div class="stream-list">
        <stream-list></stream-list>
        <!-- <contextmenu-test></contextmenu-test> -->
    </div>
</div>

<div class="vertical-separator"></div>

<div class="right-side">
    <div class="dashboard" >

        <div class="dag-view">
            <!--<dag-view></dag-view> -->
            <!-- <test-dag></test-dag> -->
            <test-cytoscape></test-cytoscape>
        </div>

        <div class="horizontal-separator"></div>

        <div class="cpt-view">
            <cpt-view></cpt-view>
        </div>
    </div>
</div>
<context-menu-holder></context-menu-holder>
<service-notifications></service-notifications>
<run-abi></run-abi>
<run-sall></run-sall>